* text=auto

*.cs text diff=csharp

*.sln text eol=crlf merge=union

*.csproj text
*.json text
*.md text
*.props text
*.resx text
*.targets text
*.tt text
*.xml text
*.yml text

*.cer binary
*.crt binary
*.der binary
*.key binary
*.p12 binary
*.p7b binary
*.p7c binary
*.p7s binary
*.pfx binary
*.snk binary
