<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <mscorlib>
    <cryptographySettings>
      <cryptoNameMapping>
        <cryptoClasses>
          <cryptoClass Grasshopper="Gost.Security.Cryptography.GrasshopperManaged, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Magma="Gost.Security.Cryptography.MagmaManaged, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Streebog512="Gost.Security.Cryptography.Streebog512Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Streebog256="Gost.Security.Cryptography.Streebog256Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
        </cryptoClasses>
        <nameEntry class="Grasshopper" name="Grasshopper"/>
        <nameEntry class="Magma" name="Magma"/>
        <nameEntry class="Streebog512" name="Streebog512"/>
        <nameEntry class="Streebog256" name="Streebog256"/>
      </cryptoNameMapping>
      <oidMap>
        <oidEntry OID="1.0.10118.3.0.56" name="Streebog256" />
        <oidEntry OID="1.0.10118.3.0.57" name="Streebog512" />
      </oidMap>
    </cryptographySettings>
  </mscorlib>
</configuration>