<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <mscorlib>
        <cryptographySettings>
            <cryptoNameMapping>
                <cryptoClasses>
                    <cryptoClass Grasshopper="Gost.Security.Cryptography.GrasshopperManaged, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
                    <cryptoClass Magma="Gost.Security.Cryptography.MagmaManaged, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
                    <cryptoClass Streebog512="Gost.Security.Cryptography.Streebog512Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
                    <cryptoClass Streebog256="Gost.Security.Cryptography.Streebog256Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
                </cryptoClasses>
                <nameEntry class="Grasshopper" name="Grasshopper"/>
                <nameEntry class="Grasshopper" name="Gost.Security.Cryptography.Grasshopper"/>
                <nameEntry class="Grasshopper" name="GrasshopperManaged"/>
                <nameEntry class="Grasshopper" name="Gost.Security.Cryptography.GrasshopperManaged"/>
                <nameEntry class="Magma" name="Magma"/>
                <nameEntry class="Magma" name="Gost.Security.Cryptography.Magma"/>
                <nameEntry class="Magma" name="MagmaManaged"/>
                <nameEntry class="Magma" name="Gost.Security.Cryptography.MagmaManaged"/>
                <nameEntry class="Streebog512" name="Streebog512"/>
                <nameEntry class="Streebog512" name="Gost.Security.Cryptography.Streebog512"/>
                <nameEntry class="Streebog512" name="Streebog512Managed"/>
                <nameEntry class="Streebog512" name="Gost.Security.Cryptography.Streebog512Managed"/>
                <nameEntry class="Streebog256" name="Streebog256"/>
                <nameEntry class="Streebog256" name="Gost.Security.Cryptography.Streebog256"/>
                <nameEntry class="Streebog256" name="Streebog256Managed"/>
                <nameEntry class="Streebog256" name="Gost.Security.Cryptography.Streebog256Managed"/>
            </cryptoNameMapping>
        </cryptographySettings>
    </mscorlib>
</configuration>