<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <mscorlib>
    <cryptographySettings>
      <cryptoNameMapping>
        <cryptoClasses>
          <cryptoClass GostECDsa256="Gost.Security.Cryptography.GostECDsa256Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa512="Gost.Security.Cryptography.GostECDsa512Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Grasshopper="Gost.Security.Cryptography.GrasshopperManaged, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Magma="Gost.Security.Cryptography.MagmaManaged, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass CMACGrasshopper="Gost.Security.Cryptography.CMACGrasshopper, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass CMACMagma="Gost.Security.Cryptography.CMACMagma, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Streebog512="Gost.Security.Cryptography.Streebog512Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Streebog256="Gost.Security.Cryptography.Streebog256Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass HMACStreebog512="Gost.Security.Cryptography.HMACStreebog512, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass HMACStreebog256="Gost.Security.Cryptography.HMACStreebog256, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa512SignatureDescription="Gost.Security.Cryptography.GostECDsa512SignatureDescription, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa256SignatureDescription="Gost.Security.Cryptography.GostECDsa256SignatureDescription, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
        </cryptoClasses>
        <nameEntry class="GostECDsa256" name="Gost.Security.Cryptography.GostECDsa256"/>
        <nameEntry class="GostECDsa256" name="GostECDsa256"/>
        <nameEntry class="GostECDsa512" name="Gost.Security.Cryptography.GostECDsa512"/>
        <nameEntry class="GostECDsa512" name="GostECDsa512"/>
        <nameEntry class="Grasshopper" name="Gost.Security.Cryptography.Grasshopper"/>
        <nameEntry class="Magma" name="Gost.Security.Cryptography.Magma"/>
        <nameEntry class="Streebog512" name="Gost.Security.Cryptography.Streebog512"/>
        <nameEntry class="Streebog256" name="Gost.Security.Cryptography.Streebog256"/>
        <nameEntry class="HMACStreebog512" name="Gost.Security.Cryptography.HMACStreebog512"/>
        <nameEntry class="HMACStreebog256" name="Gost.Security.Cryptography.HMACStreebog256"/>
        <nameEntry class="CMACGrasshopper" name="Gost.Security.Cryptography.CMACGrasshopper"/>
        <nameEntry class="CMACMagma" name="Gost.Security.Cryptography.CMACMagma"/>
        <nameEntry class="GostECDsa512SignatureDescription" name="Gost.Security.Cryptography.GostECDsa512SignatureDescription"/>
        <nameEntry class="GostECDsa256SignatureDescription" name="Gost.Security.Cryptography.GostECDsa256SignatureDescription"/>
      </cryptoNameMapping>
      <oidMap>
        <oidEntry OID="1.2.643.7.1.1.1.1" name="Gost.Security.Cryptography.GostECDsa256" />
        <oidEntry OID="1.2.643.7.1.1.1.2" name="Gost.Security.Cryptography.GostECDsa512" />
        <oidEntry OID="1.2.643.7.1.1.2.2" name="Gost.Security.Cryptography.Streebog256" />
        <oidEntry OID="1.2.643.7.1.1.2.3" name="Gost.Security.Cryptography.Streebog512" />
        <oidEntry OID="1.2.643.7.1.1.4.1" name="Gost.Security.Cryptography.HMACStreebog256" />
        <oidEntry OID="1.2.643.7.1.1.4.2" name="Gost.Security.Cryptography.HMACStreebog512" />
      </oidMap>
    </cryptographySettings>
  </mscorlib>
</configuration>