<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <mscorlib>
    <cryptographySettings>
      <cryptoNameMapping>
        <cryptoClasses>
          <cryptoClass Grasshopper="Gost.Security.Cryptography.GrasshopperManaged, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Magma="Gost.Security.Cryptography.MagmaManaged, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Streebog512="Gost.Security.Cryptography.Streebog512Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Streebog256="Gost.Security.Cryptography.Streebog256Managed, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass HMACStreebog512="Gost.Security.Cryptography.HMACStreebog512, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass HMACStreebog256="Gost.Security.Cryptography.HMACStreebog256, Gost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
        </cryptoClasses>
        <nameEntry class="Grasshopper" name="Grasshopper"/>
        <nameEntry class="Magma" name="Magma"/>
        <nameEntry class="Streebog512" name="Streebog512"/>
        <nameEntry class="Streebog256" name="Streebog256"/>
        <nameEntry class="HMACStreebog512" name="HMACStreebog512"/>
        <nameEntry class="HMACStreebog256" name="HMACStreebog256"/>
      </cryptoNameMapping>
      <oidMap>
        <oidEntry OID="1.2.643.7.1.1.2.2" name="Streebog256" />
        <oidEntry OID="1.2.643.7.1.1.2.3" name="Streebog512" />
        <oidEntry OID="1.2.643.7.1.1.4.1" name="HMACStreebog256" />
        <oidEntry OID="1.2.643.7.1.1.4.2" name="HMACStreebog512" />
      </oidMap>
    </cryptographySettings>
  </mscorlib>
</configuration>