<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <mscorlib>
    <cryptographySettings>
      <cryptoNameMapping>
        <cryptoClasses>
          <cryptoClass GostECDsa256="OpenGost.Security.Cryptography.GostECDsa256Managed, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa512="OpenGost.Security.Cryptography.GostECDsa512Managed, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Grasshopper="OpenGost.Security.Cryptography.GrasshopperManaged, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Magma="OpenGost.Security.Cryptography.MagmaManaged, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass CMACGrasshopper="OpenGost.Security.Cryptography.CMACGrasshopper, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass CMACMagma="OpenGost.Security.Cryptography.CMACMagma, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Streebog512="OpenGost.Security.Cryptography.Streebog512Managed, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass Streebog256="OpenGost.Security.Cryptography.Streebog256Managed, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass HMACStreebog512="OpenGost.Security.Cryptography.HMACStreebog512, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass HMACStreebog256="OpenGost.Security.Cryptography.HMACStreebog256, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa512SignatureDescription="OpenGost.Security.Cryptography.GostECDsa512SignatureDescription, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa256SignatureDescription="OpenGost.Security.Cryptography.GostECDsa256SignatureDescription, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa512SignatureDeformatter="OpenGost.Security.Cryptography.GostECDsa512SignatureDeformatter, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa256SignatureDeformatter="OpenGost.Security.Cryptography.GostECDsa256SignatureDeformatter, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa512SignatureFormatter="OpenGost.Security.Cryptography.GostECDsa512SignatureFormatter, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
          <cryptoClass GostECDsa256SignatureFormatter="OpenGost.Security.Cryptography.GostECDsa256SignatureFormatter, OpenGost.Security.Cryptography, PublicKeyToken=e9224e2a5c23f433"/>
        </cryptoClasses>
        <nameEntry class="GostECDsa256" name="OpenGost.Security.Cryptography.GostECDsa256"/>
        <nameEntry class="GostECDsa256" name="GostECDsa256"/>
        <nameEntry class="GostECDsa512" name="OpenGost.Security.Cryptography.GostECDsa512"/>
        <nameEntry class="GostECDsa512" name="GostECDsa512"/>
        <nameEntry class="Grasshopper" name="OpenGost.Security.Cryptography.Grasshopper"/>
        <nameEntry class="Grasshopper" name="Grasshopper"/>
        <nameEntry class="Magma" name="OpenGost.Security.Cryptography.Magma"/>
        <nameEntry class="Magma" name="Magma"/>
        <nameEntry class="Streebog512" name="OpenGost.Security.Cryptography.Streebog512"/>
        <nameEntry class="Streebog512" name="Streebog512"/>
        <nameEntry class="Streebog256" name="OpenGost.Security.Cryptography.Streebog256"/>
        <nameEntry class="Streebog256" name="Streebog256"/>
        <nameEntry class="HMACStreebog512" name="OpenGost.Security.Cryptography.HMACStreebog512"/>
        <nameEntry class="HMACStreebog512" name="HMACStreebog512"/>
        <nameEntry class="HMACStreebog256" name="OpenGost.Security.Cryptography.HMACStreebog256"/>
        <nameEntry class="HMACStreebog256" name="HMACStreebog256"/>
        <nameEntry class="CMACGrasshopper" name="OpenGost.Security.Cryptography.CMACGrasshopper"/>
        <nameEntry class="CMACGrasshopper" name="CMACGrasshopper"/>
        <nameEntry class="CMACMagma" name="OpenGost.Security.Cryptography.CMACMagma"/>
        <nameEntry class="CMACMagma" name="CMACMagma"/>
        <nameEntry class="GostECDsa512SignatureDescription" name="OpenGost.Security.Cryptography.GostECDsa512SignatureDescription"/>
        <nameEntry class="GostECDsa512SignatureDescription" name="GostECDsa512SignatureDescription"/>
        <nameEntry class="GostECDsa256SignatureDescription" name="OpenGost.Security.Cryptography.GostECDsa256SignatureDescription"/>
        <nameEntry class="GostECDsa256SignatureDescription" name="GostECDsa256SignatureDescription"/>
        <nameEntry class="GostECDsa512SignatureDeformatter" name="OpenGost.Security.Cryptography.GostECDsa512SignatureDeformatter"/>
        <nameEntry class="GostECDsa512SignatureDeformatter" name="GostECDsa512SignatureDeformatter"/>
        <nameEntry class="GostECDsa512SignatureFormatter" name="OpenGost.Security.Cryptography.GostECDsa512SignatureFormatter"/>
        <nameEntry class="GostECDsa512SignatureFormatter" name="GostECDsa512SignatureFormatter"/>
        <nameEntry class="GostECDsa256SignatureDeformatter" name="OpenGost.Security.Cryptography.GostECDsa256SignatureDeformatter"/>
        <nameEntry class="GostECDsa256SignatureDeformatter" name="GostECDsa256SignatureDeformatter"/>
        <nameEntry class="GostECDsa256SignatureFormatter" name="OpenGost.Security.Cryptography.GostECDsa256SignatureFormatter"/>
        <nameEntry class="GostECDsa256SignatureFormatter" name="GostECDsa256SignatureFormatter"/>
      </cryptoNameMapping>
      <oidMap>
        <oidEntry OID="1.2.643.7.1.1.1.1" name="OpenGost.Security.Cryptography.GostECDsa256" />
        <oidEntry OID="1.2.643.7.1.1.1.2" name="OpenGost.Security.Cryptography.GostECDsa512" />
        <oidEntry OID="1.2.643.7.1.1.2.2" name="OpenGost.Security.Cryptography.Streebog256" />
        <oidEntry OID="1.2.643.7.1.1.2.3" name="OpenGost.Security.Cryptography.Streebog512" />
        <oidEntry OID="1.2.643.7.1.1.3.2" name="OpenGost.Security.Cryptography.GostECDsa256SignatureDescription" />
        <oidEntry OID="1.2.643.7.1.1.3.3" name="OpenGost.Security.Cryptography.GostECDsa512SignatureDescription" />
        <oidEntry OID="1.2.643.7.1.1.4.1" name="OpenGost.Security.Cryptography.HMACStreebog256" />
        <oidEntry OID="1.2.643.7.1.1.4.2" name="OpenGost.Security.Cryptography.HMACStreebog512" />
      </oidMap>
    </cryptographySettings>
  </mscorlib>
</configuration>
